* {
    box-sizing: border-box;
}

img {
    width: 100%;
    padding: 0;
}

div {
    float: left;
    width: 50%;
    margin-left: 0;
}

#logo {
    border: 1px solid red;
}

#definition {
    border: 1px solid blue;
    padding: 20px;
}

.container {
    border: 2px solid greenyellow;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}